<h5>予定一覧</h5>
<p><%= @event %></p>
<%=link_to "新規追加", :new_event %>

<% if flash[:notice] %>
   <p class="notice"><%= flash[:notice] %></p>
 <% end %>
 
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.title %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= event.all_day ? '○' :''%></td>
        <td><%= event.updated_at.to_s(:datetime_jp) %></td>
        <td>
         <%= link_to "参照", event %>
        </td>
        <td>
         <%= link_to "編集",[:edit,event] %>
        </td>
        <td>
         <%= link_to "削除", event,method: :delete,data:{ confirm:'予定を削除しますか？'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

予定合計<%= @events.count%>件
    本日の日付
    
<script>
    const today=new Date();
    const year = today.getFullYear();
    const month = today.getMonth()+1;
    const week = today.getDay();
    const day = today.getDate();
    document.write(year+"/"+month+"/"+day);
</script>